<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/index :: dynamic(~{::main})}">
<link rel="stylesheet" href="/static/assets/css/shopping-cart.css">
<script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body ng-app='App' ng-controller='ctrl'>
<main class="row" style='width: 100%;'>
    <div th:each="p:${items}" class="col-sm-4">
        <div class="panel panel-primary poly-item text-center">
            <div class="panel-heading">
                <div class="panel-title" th:utext="${p.name}"></div>
            </div>
            <div class="panel-body">
                <a th:href="@{|/product/detail/${p.id}|}">
                    <img style="height: 150px;" th:src="@{|/assets/images/${p.image}|}">
                </a>
            </div>
            <div class="panel-footer text-right">
                <b class="pull-left">$[[${p.price}]]</b>
                <button th:attr="ng-click=@{|cart.add(${p.id})|}" class="btn btn-success">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </button>
            </div>
        </div>
    </div>
    <div xmlns:th="https://www.thymeleaf.org" class="panel-footer text-center" style="text-decoration: none">
        <a class="btn btn-danger">
            <b class="glyphicon glyphicon-hand-up"></b>
        </a>
        <a class="btn btn-primary">
            <b class="glyphicon glyphicon-hand-left"></b>
        </a>
        <a class="btn btn-primary">
            <b class="glyphicon glyphicon-hand-right"></b>
        </a>
        <a class="btn btn-danger">
            <b class="glyphicon glyphicon-hand-down"></b>
        </a>
    </div>
</main>
</body>
</html>