<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
   <main>
   	<div class="panel panel-primary" th:fragment="shopping-cart">
   		<div class="panel-heading">Giỏ Hàng Chi Tiết</div>
   		<table class="table">
   			<thead>
   				<tr>
   					<th>Mã Sản Phẩm</th>
   					<th>Tên Sản Phẩm</th>
   					<th>Giá</th>
   					<th>Số lượng</th>
   					<th>Tổng tiền</th>
   					<th></th>
   				</tr>
   			</thead>
   			<tbody>
   				<tr ng-repeat="item in cart.items">
   					<td>{{item.id}}</td>
   					<td>{{item.name}}</td>
   					<td>${{item.price | number :2}}</td>
   					<td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1" style=""></td> <!--   ng-change: lưu số lượng khi thay đổi và f5 trang web */-->
   					<td>${{item.qty*item.price | number : 2}}</td>
   					<td>
   						<button ng-click="cart.remove(item.id)" class="btn btn-sm btn-danger">
   							<i class="glyphicon glyphicon-trash"></i>
   						</button>
   					</td>
   				</tr>
   			</tbody>
   		</table>
   		<div class="panel-footer">
   			<button ng-click="cart.clear()" class="btn btn-danger">
   				<i class="glyphicon glyphicon-trash"></i> Clear
   			</button>
   			<a th:href="@{/order/checkout}" class="btn btn-primary">
   				<i class="glyphicon glyphicon-hand-right"></i> Checkout
   			</a>
   		</div>
   	</div>
   </main>
</body>
</html>